body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  display: flex;
  align-items: center;
justify-content: center;  
background: #58217d;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.name-game{
font-family: 'Courier New', Courier, monospace;
font-size: 34px;
color: white;
}
.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}
.square:hover{
background-color: rgb(125, 125, 237);
}
.restart-btn{
color: white;
background: red;
width:80px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.game-info {
  width: 120px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  margin-left: 20px;
  color: aqua;
  background-color: rgb(110, 44, 44);
  padding: 10px;
  border-radius: 12px;
}